/* src/components/Layout.css */

.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(to bottom right, #eff6ff, #c7d2fe); /* Fondo general de la app */
  font-family: 'Inter', sans-serif;
  color: #1f2937;
  -webkit-font-smoothing: antialiased;
}

.layout-main-content {
  flex-grow: 1; /* Permite que el contenido principal ocupe el espacio disponible */
  padding: 1.5rem 2rem; /* Padding general para el contenido de la página */
  max-width: 1280px; /* Ancho máximo para el contenido */
  margin: 0 auto; /* Centra el contenido */
  width: 100%; /* Asegura que ocupe el 100% del ancho disponible en su contenedor */
  background-color: transparent;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .layout-main-content {
    padding: 1rem 1.5rem; /* Reduce el padding en pantallas medianas */
  }
}

@media (max-width: 480px) {
  .layout-main-content {
    padding: 0.8rem 1rem; /* Más reducción de padding para móviles pequeños */
  }
}
